<div  [hidden]="submitted">
	<h1>Login</h1>
	<form [ngFormModel]="loginForm" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label for="username">Username</label>
			<input class="form-control" type="text" id="username" ngControl="username" required >
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input class="form-control" type="password" id="password" ngControl="password" required>
		</div>
		<button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Login</button>
	</form>
</div>

<div [hidden]="!submitted">
	<h2>Hello: {{ model.username }}</h2>
</div>